In [90]:
!pip install fuzzywuzzy
!pip install python-Levenshtein

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0
Collecting python-Levenshtein
  Downloading python-Levenshtein-0.12.2.tar.gz (50 kB)
Requirement already satisfied: setuptools in c:\users\dell\anaconda3\lib\site-packages (from python-Levenshtein) (50.3.1.post20201107)
Building wheels for collected packages: python-Levenshtein
  Building wheel for python-Levenshtein (setup.py): started
  Building wheel for python-Levenshtein (setup.py): finished with status 'error'
  Running setup.py clean for python-Levenshtein
Failed to build python-Levenshtein
Installing collected packages: python-Levenshtein
    Running setup.py install for python-Levenshtein: started
    Running setup.py install for python-Levenshtein: finished with status 'error'

  ERROR: Command errored out with exit status 1:
   command: 'C:\Users\Dell\anaconda3\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Dell\\AppData\\Local\\Temp\\pip-install-c_1k6wb9\\python-levenshtein\\setup.py'"'"'; __file__='"'"'C:\\Users\\Dell\\AppData\\Local\\Temp\\pip-install-c_1k6wb9\\python-levenshtein\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d 'C:\Users\Dell\AppData\Local\Temp\pip-wheel-4xwln3rk'
       cwd: C:\Users\Dell\AppData\Local\Temp\pip-install-c_1k6wb9\python-levenshtein\
  Complete output (27 lines):
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-3.8
  creating build\lib.win-amd64-3.8\Levenshtein
  copying Levenshtein\StringMatcher.py -> build\lib.win-amd64-3.8\Levenshtein
  copying Levenshtein\__init__.py -> build\lib.win-amd64-3.8\Levenshtein
  running egg_info
  writing python_Levenshtein.egg-info\PKG-INFO
  writing dependency_links to python_Levenshtein.egg-info\dependency_links.txt
  writing entry points to python_Levenshtein.egg-info\entry_points.txt
  writing namespace_packages to python_Levenshtein.egg-info\namespace_packages.txt
  writing requirements to python_Levenshtein.egg-info\requires.txt
  writing top-level names to python_Levenshtein.egg-info\top_level.txt
  reading manifest file 'python_Levenshtein.egg-info\SOURCES.txt'
  reading manifest template 'MANIFEST.in'
  warning: no previously-included files matching '*pyc' found anywhere in distribution
  warning: no previously-included files matching '*so' found anywhere in distribution
  warning: no previously-included files matching '.project' found anywhere in distribution
  warning: no previously-included files matching '.pydevproject' found anywhere in distribution
  writing manifest file 'python_Levenshtein.egg-info\SOURCES.txt'
  copying Levenshtein\_levenshtein.c -> build\lib.win-amd64-3.8\Levenshtein
  copying Levenshtein\_levenshtein.h -> build\lib.win-amd64-3.8\Levenshtein
  running build_ext
  building 'Levenshtein._levenshtein' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  ----------------------------------------
  ERROR: Failed building wheel for python-Levenshtein
    ERROR: Command errored out with exit status 1:
     command: 'C:\Users\Dell\anaconda3\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Dell\\AppData\\Local\\Temp\\pip-install-c_1k6wb9\\python-levenshtein\\setup.py'"'"'; __file__='"'"'C:\\Users\\Dell\\AppData\\Local\\Temp\\pip-install-c_1k6wb9\\python-levenshtein\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record 'C:\Users\Dell\AppData\Local\Temp\pip-record-tu3ujyim\install-record.txt' --single-version-externally-managed --compile --install-headers 'C:\Users\Dell\anaconda3\Include\python-Levenshtein'
         cwd: C:\Users\Dell\AppData\Local\Temp\pip-install-c_1k6wb9\python-levenshtein\
    Complete output (27 lines):
    running install
    running build
    running build_py
    creating build
    creating build\lib.win-amd64-3.8
    creating build\lib.win-amd64-3.8\Levenshtein
    copying Levenshtein\StringMatcher.py -> build\lib.win-amd64-3.8\Levenshtein
    copying Levenshtein\__init__.py -> build\lib.win-amd64-3.8\Levenshtein
    running egg_info
    writing python_Levenshtein.egg-info\PKG-INFO
    writing dependency_links to python_Levenshtein.egg-info\dependency_links.txt
    writing entry points to python_Levenshtein.egg-info\entry_points.txt
    writing namespace_packages to python_Levenshtein.egg-info\namespace_packages.txt
    writing requirements to python_Levenshtein.egg-info\requires.txt
    writing top-level names to python_Levenshtein.egg-info\top_level.txt
    reading manifest file 'python_Levenshtein.egg-info\SOURCES.txt'
    reading manifest template 'MANIFEST.in'
    warning: no previously-included files matching '*pyc' found anywhere in distribution
    warning: no previously-included files matching '*so' found anywhere in distribution
    warning: no previously-included files matching '.project' found anywhere in distribution
    warning: no previously-included files matching '.pydevproject' found anywhere in distribution
    writing manifest file 'python_Levenshtein.egg-info\SOURCES.txt'
    copying Levenshtein\_levenshtein.c -> build\lib.win-amd64-3.8\Levenshtein
    copying Levenshtein\_levenshtein.h -> build\lib.win-amd64-3.8\Levenshtein
    running build_ext
    building 'Levenshtein._levenshtein' extension
    error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
    ----------------------------------------
ERROR: Command errored out with exit status 1: 'C:\Users\Dell\anaconda3\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Dell\\AppData\\Local\\Temp\\pip-install-c_1k6wb9\\python-levenshtein\\setup.py'"'"'; __file__='"'"'C:\\Users\\Dell\\AppData\\Local\\Temp\\pip-install-c_1k6wb9\\python-levenshtein\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record 'C:\Users\Dell\AppData\Local\Temp\pip-record-tu3ujyim\install-record.txt' --single-version-externally-managed --compile --install-headers 'C:\Users\Dell\anaconda3\Include\python-Levenshtein' Check the logs for full command output.

In [91]:

import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import difflib

C:\Users\Dell\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
df = pd.read_csv('terroist.csv')

In [40]:
new_list = list_names.apply(lambda x: x.astype(str).str.lower())
new_list

                                                    name
0                                aafia siddique brigade
1                                          abdulasattar
2                              abdullah, abdullah ahmed
3                            abdurehman, ahmed mohammed
4      abid ali khan transnational criminal organizat...
...                                                  ...
24190                                   "zheng, gordon"
24191                                             "zio"
24192                                     "zubeyr, abu"
24193                                         "zukipli"
24194                                        "zulkifli"

[24195 rows x 1 columns]

['"Asadullah" ', '"Nasibullah" ', 'BUR, Abdullah ']

In [36]:
list_names

                                                    name
0                                AAFIA SIDDIQUE BRIGADE
1                                          ABDULASATTAR
2                              ABDULLAH, Abdullah Ahmed
3                            ABDUREHMAN, Ahmed Mohammed
4      ABID ALI KHAN TRANSNATIONAL CRIMINAL ORGANIZAT...
...                                                  ...
24190                                   "ZHENG, Gordon"
24191                                             "ZIO"
24192                                     "ZUBEYR, Abu"
24193                                         "ZUKIPLI"
24194                                        "ZULKIFLI"

[24195 rows x 1 columns]

# converting name to first name and last name

In [62]:
def name_converter(name):
    name = name.rstrip()
    name = name.strip('"')
    name = name.lower()
    f_l_name = name.split(',')
    
    first_name = ''
    last_name = ''
    if len(f_l_name) > 1:
        first_name = str(f_l_name[0])
        last_name = str(f_l_name[-1])
    elif len(f_l_name) == 1:
        first_name = str(f_l_name[0])
    return first_name, last_name

In [63]:
df['first_name'], df['last_name'] = zip(*df['name'].map(name_converter))

In [84]:
df['name2'] = df['first_name']+ df['last_name']
df.head(5)

,name,alias,DOB,POB,tags,address,linked orgs,entity,first_name,last_name,name2
0,AAFIA SIDDIQUE BRIGADE,(a.k.a. JAMAAT-E-AHRAR; a.k.a. JAMAATUL AHRAR;...,NaN,NaN,['[SDGT]'],"[', Afghanistan', ' Mohmand Tribal Agency, Pak...",NaN,NaN,aafia siddique brigade,,aafia siddique brigade
1,ABDULASATTAR,"(a.k.a. BARAKZAI, Haji Abdul Sattar; a.k.a. BA...",['DOB 1964;'],"['POB Mirmandaw Village, Nahr-e Saraj District...",['[SDGT]'],"[', KachrayRoad, Pashtunabad, Quetta, Balochis...",(Linked To: HAJI KHAIRULLAH HAJI SATTAR MONEYE...,['(individual)'],abdulasattar,,abdulasattar
2,"ABDULLAH, Abdullah Ahmed","(a.k.a. AL-MASRI, Abu Mohamed; a.k.a. ""ABU MAR...",['DOB 1963;'],['POB Egypt;'],['[SDGT]'],"[', Afghanistan', ' citizen Egypt (individua...",NaN,['(individual)'],abdullah,abdullah ahmed,abdullah abdullah ahmed
3,"ABDUREHMAN, Ahmed Mohammed","(a.k.a. AHMED, Ahmed; a.k.a. ALI, Ahmed Mohamm...",['DOB 1965;'],['POB Egypt;'],['[SDGT]'],"[', Afghanistan', ' citizen Egypt (individual...",NaN,['(individual)'],abdurehman,ahmed mohammed,abdurehman ahmed mohammed
4,ABID ALI KHAN TRANSNATIONAL CRIMINAL ORGANIZAT...,NaN,NaN,NaN,['[TCO]'],"['', ' Afghanistan', ' UnitedArab Emirates .']",NaN,NaN,abid ali khan transnational criminal organization,pakistan,abid ali khan transnational criminal organizat...

In [85]:
first_name = 'abdullah'
last_name = 'ahmed'
name = first_name + last_name

# matches = difflib.get_close_matches(name, df.name2, n=1)
# second = difflib.get_close_matches(last_name, df.last_name, n=1)

In [83]:
# ind1 = df.index[df['first_name'] == fir[0]].tolist()
# ind2 = df.index[df['last_name'] == second[0]].tolist()
    
# # print(ind1, ind2)
# a_set = set(ind1)
# b_set = set(ind2)
 
# if (a_set & b_set):
#     print(a_set & b_set)

In [86]:
ind2 = df.index[df['name2'] == matches[0]].tolist()
print(ind2)

[18367]

In [94]:
df.loc[8566]

name                                                 "ABDULLAH"
alias          (a.k.a. ABDAOUI, Youssef; a.k.a. ABDAOUI, Yous...
DOB                                          ['DOB 04 Jun1966;']
POB                                   ['POB Kairouan, Tunisia;']
tags                                                  ['[SDGT]']
address        [', Piazza Giovane Italia n.2,Varese, Italy', ...
linked orgs                                                  NaN
entity                                          ['(individual)']
first_name                                              abdullah
last_name
name2                                                   abdullah
Name: 8566, dtype: object

In [95]:
print ("Best among the above list: ",process.extractOne(name, df['first_name']))

Best among the above list:  ('abdullah', 90, 2)