In [1]:
import pandas as pd 
df = pd.read_csv('./Toppr_DS_Assignment_Data.csv')

# Adding a new column called 'Month' for analysing data for every month
df['Month'] = pd.DatetimeIndex(df['tutor_joined_on']).month
# time_taken(Handling time)
df['time_taken'] = (pd.DatetimeIndex(df.exited_on)-pd.DatetimeIndex(df.tutor_joined_on))

df.head()

,session_id,subject_id,tutor_id,tutor_joined_on,exited_on,Month,time_taken
0,58891832,1,25888582,2021-08-24T08:50:59.986,2021-08-24T09:00:38.411,8,0 days 00:09:38.425000
1,58895182,1,42704098,2021-08-24T11:20:35.380,2021-08-24T11:35:00.323,8,0 days 00:14:24.943000
2,58894350,3,19300924,2021-08-24T10:46:49.303,2021-08-24T10:52:34.587,8,0 days 00:05:45.284000
3,58912438,2,25481986,2021-08-25T07:59:47.025,2021-08-25T08:08:21.243,8,0 days 00:08:34.218000
4,58913020,1,34486126,2021-08-25T08:31:19.618,2021-08-25T08:33:49.924,8,0 days 00:02:30.306000

# Q1

In [2]:
#total time taken for solving all the problems in a month for a subject
HT = df.groupby(['subject_id', 'Month'])['time_taken'].sum()
#number of doubts in a month for a subject
num_doubts = df.groupby(['subject_id', 'Month']).size()
# average handling time is total_time/num_of_doubts
AHT = HT/num_doubts
AHT

subject_id  Month
1           6       0 days 00:08:36.447387096
            7       0 days 00:10:34.418437752
            8       0 days 00:10:52.694057395
2           6       0 days 00:08:14.629333333
            7       0 days 00:09:18.280219489
            8       0 days 00:09:57.723672775
3           6       0 days 00:11:53.666208333
            7       0 days 00:10:22.803859081
            8       0 days 00:10:35.908579568
4           6       0 days 00:06:07.886941176
            7       0 days 00:07:14.106739597
            8       0 days 00:07:40.764815341
dtype: timedelta64[ns]

# Q2

In [3]:
# session id joined by tutors 
tutor = df.groupby( ['session_id', 'tutor_id']).size()
tutor_df= pd.DataFrame(tutor, columns=['num of doubts per session'])
tutor_df

                     num of doubts per session
session_id tutor_id
57457766   39251512                          1
57457774   19857386                          1
57457778   22037200                          1
57457782   27139594                          1
57457788   10466374                          1
...                                        ...
59058422   6622508                           1
59058428   1724346                           1
59058430   17843810                          1
59058434   18840614                          1
59058436   6622508                           1

[448816 rows x 1 columns]

# Q3

In [6]:
# total count for different num of doubt per session
df2 = pd.DataFrame(tutor_df.value_counts())

In [7]:
import numpy as np
np.cov(df2)

<ipython-input-7-fe1f7aaec8fb>:2: RuntimeWarning: Degrees of freedom <= 0 for slice
  np.cov(df2)
C:\Users\Dell\anaconda3\lib\site-packages\numpy\lib\function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)
C:\Users\Dell\anaconda3\lib\site-packages\numpy\lib\function_base.py:2480: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)

array([[nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan]])

From the above table we can see that most of the tutors prefer to clarify one doubt per session

In [9]:
# joining both the main table and tutor table for storing complete information in a table
sessions = pd.merge(df, tutor_df, on=["session_id", "tutor_id"])
sessions.head()

,session_id,subject_id,tutor_id,tutor_joined_on,exited_on,Month,time_taken,num of doubts per session
0,58891832,1,25888582,2021-08-24T08:50:59.986,2021-08-24T09:00:38.411,8,0 days 00:09:38.425000,1
1,58895182,1,42704098,2021-08-24T11:20:35.380,2021-08-24T11:35:00.323,8,0 days 00:14:24.943000,1
2,58894350,3,19300924,2021-08-24T10:46:49.303,2021-08-24T10:52:34.587,8,0 days 00:05:45.284000,1
3,58912438,2,25481986,2021-08-25T07:59:47.025,2021-08-25T08:08:21.243,8,0 days 00:08:34.218000,1
4,58913020,1,34486126,2021-08-25T08:31:19.618,2021-08-25T08:33:49.924,8,0 days 00:02:30.306000,1

# Q4

In [10]:
sessions.groupby(["subject_id", "num of doubts per session"])["time_taken"].sum()

subject_id  num of doubts per session
1           1                            934 days 08:35:39.164000
            2                              0 days 07:05:04.283000
            3                              0 days 00:26:36.570000
            4                                     0 days 00:00:00
2           1                            655 days 19:11:08.692000
            2                              0 days 01:52:42.373000
            3                              0 days 00:02:59.041000
            4                              0 days 00:03:47.887000
3           1                           1300 days 04:25:34.153000
            2                              0 days 12:31:42.287000
            3                              0 days 01:08:02.984000
            4                              0 days 00:21:32.261000
            5                                     0 days 00:00:00
4           1                            242 days 01:23:23.785000
            2                              0 days 01:20:15.732000
            3                              0 days 00:17:35.044000
Name: time_taken, dtype: timedelta64[ns]

you can infer from the above table that some of the tutors when trying to answer 4 or 5 doubts aren't able to complete the problem, so we should allow at max 3 questions to solve per tutor per session

In [11]:
total_time_session = list(sessions.groupby('num of doubts per session')['time_taken'].sum() )
num_session = list(tutor_df.value_counts())
avg_time_session = [[str(total_time_session[i]/num_session[i]), i+1] for i in range(len(num_session))]
avg_time_session

[['0 days 00:10:03.238527193', 1],
 ['0 days 00:08:50.223709677', 2],
 ['0 days 00:10:28.512636363', 3],
 ['0 days 00:06:20.037000', 4],
 ['0 days 00:00:00', 5]]

In [14]:
import numpy as np
avg_time = [[10,1], [8,2], [10,3], [6,4], [0,5]]

np.corrcoef(avg_time)

array([[ 1.,  1.,  1.,  1., -1.],
       [ 1.,  1.,  1.,  1., -1.],
       [ 1.,  1.,  1.,  1., -1.],
       [ 1.,  1.,  1.,  1., -1.],
       [-1., -1., -1., -1.,  1.]])

The table gives us the average time it took for the tutor to solve is alomst similar for the first 3 questions