In [59]:
import pandas as pd
import numpy as np

d = {'name': ['Jack', 'Jack', 'Jack', 'Jack', 'Jill', 'Jill'], 'day': ['Monday', 'Tuesday', 'Wednesday', 'Thurday', 'Monday', 'Wednesday'], 'no': [10,20, np.nan, 50, 40, 110]}
df = pd.DataFrame(data = d)

In [67]:
df

   name        day     no  counter
0  Jack     Monday   10.0        0
1  Jack    Tuesday   20.0        0
2  Jack  Wednesday    NaN        0
3  Jack    Thurday   50.0        0
4  Jill     Monday   40.0        0
5  Jill  Wednesday  110.0        0

In [102]:
def assigner(x):
    if x> 0:
        return 1
    else:
        return 0
df['counter'] = df.no.apply(lambda x: assigner(x))
df['counter_sum'] = df.groupby('name')['counter'].cumsum()
df['avg_val'] = df.groupby('name')['no'].cumsum()
new_df = df.groupby(['name', 'day']).sum().groupby(level=0).cumsum().reset_index()

In [103]:
df['new_avg'] = df['avg_val']/df['counter_sum']

In [104]:
df

   name        day     no  counter  avg_val  counter_sum    new_avg
0  Jack     Monday   10.0        1     10.0            1  10.000000
1  Jack    Tuesday   20.0        1     30.0            2  15.000000
2  Jack  Wednesday    NaN        0      NaN            2        NaN
3  Jack    Thurday   50.0        1     80.0            3  26.666667
4  Jill     Monday   40.0        1     40.0            1  40.000000
5  Jill  Wednesday  110.0        1    150.0            2  75.000000

In [48]:
df.groupby(['name'])

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000023F1CC39EB0>

In [43]:
# counter = 0
def add(df):
    counter += df